/*═════════════════════════════════════════════════════════════
  1. Create Database if not exists
═════════════════════════════════════════════════════════════*/
IF DB_ID(N'SaloonManagement') IS NULL
    CREATE DATABASE SaloonManagement;
GO

USE SaloonManagement;
GO

/*═════════════════════════════════════════════════════════════
  2. Drop existing tables (if needed)
═════════════════════════════════════════════════════════════*/
IF OBJECT_ID(N'dbo.Cart',        N'U') IS NOT NULL DROP TABLE dbo.Cart;
IF OBJECT_ID(N'dbo.Login',       N'U') IS NOT NULL DROP TABLE dbo.Login;
IF OBJECT_ID(N'dbo.Package',     N'U') IS NOT NULL DROP TABLE dbo.Package;
IF OBJECT_ID(N'dbo.RecordBarber1', N'U') IS NOT NULL DROP TABLE dbo.RecordBarber1;
IF OBJECT_ID(N'dbo.RecordBarber2', N'U') IS NOT NULL DROP TABLE dbo.RecordBarber2;
GO

/*═════════════════════════════════════════════════════════════
  3. Create Tables with appropriate data types
═════════════════════════════════════════════════════════════*/

/*-- Cart Table --*/
CREATE TABLE dbo.Cart (
    PackageId     VARCHAR(30)  NOT NULL,
    PackageName   VARCHAR(50)  NOT NULL,
    Price         DECIMAL(10,2) NOT NULL,
    Discount      DECIMAL(5,2)  NOT NULL,
    Duration      VARCHAR(30)  NOT NULL,
    CONSTRAINT PK_Cart PRIMARY KEY (PackageId)
);
GO

/*-- Login Table --*/
CREATE TABLE dbo.Login (
    UserId    VARCHAR(20) NOT NULL,
    Password  VARCHAR(100) NOT NULL,  -- optionally hash passwords
    Role      VARCHAR(20) NOT NULL,
    CONSTRAINT PK_Login PRIMARY KEY (UserId)
);
GO

/*-- Package Table --*/
CREATE TABLE dbo.Package (
    PackageId     VARCHAR(30)   NOT NULL,
    PackageName   VARCHAR(50)   NOT NULL,
    Price         DECIMAL(10,2) NULL,
    Discount      DECIMAL(5,2)  NULL,
    Duration      VARCHAR(30)   NOT NULL,
    CONSTRAINT PK_Package PRIMARY KEY (PackageId)
);
GO

/*-- RecordBarber1 Table --*/
CREATE TABLE dbo.RecordBarber1 (
    PackageId     VARCHAR(30)   NOT NULL,
    PackageName   VARCHAR(50)   NOT NULL,
    Price         DECIMAL(10,2) NOT NULL,
    Discount      DECIMAL(5,2)  NOT NULL,
    Duration      VARCHAR(30)   NOT NULL
);
GO

/*-- RecordBarber2 Table --*/
CREATE TABLE dbo.RecordBarber2 (
    PackageId     VARCHAR(30)   NOT NULL,
    PackageName   VARCHAR(50)   NOT NULL,
    Price         DECIMAL(10,2) NOT NULL,
    Discount      DECIMAL(5,2)  NOT NULL,
    Duration      VARCHAR(30)   NOT NULL
);
GO

/*═════════════════════════════════════════════════════════════
  4. Insert seed data (only if not already exists)
═════════════════════════════════════════════════════════════*/

/*-- Login Seed --*/
IF NOT EXISTS (SELECT 1 FROM dbo.Login WHERE UserId = 'S-001')
    INSERT INTO dbo.Login (UserId, Password, Role)
    VALUES ('S-001', 'pappu', 'Admin');

IF NOT EXISTS (SELECT 1 FROM dbo.Login WHERE UserId = 'S-002')
    INSERT INTO dbo.Login (UserId, Password, Role)
    VALUES ('S-002', 'ehsan', 'Barber');

IF NOT EXISTS (SELECT 1 FROM dbo.Login WHERE UserId = 'S-003')
    INSERT INTO dbo.Login (UserId, Password, Role)
    VALUES ('S-003', 'parvez', 'Barber');

/*-- Package Seed --*/
IF NOT EXISTS (SELECT 1 FROM dbo.Package WHERE PackageId = '1')
    INSERT INTO dbo.Package (PackageId, PackageName, Price, Discount, Duration)
    VALUES ('1', 'Basic', 5.00, 0.00, '5');

IF NOT EXISTS (SELECT 1 FROM dbo.Package WHERE PackageId = '3')
    INSERT INTO dbo.Package (PackageId, PackageName, Price, Discount, Duration)
    VALUES ('3', 'Goa', 6.00, 2.00, '8');

/*-- RecordBarber2 Seed --*/
IF NOT EXISTS (SELECT 1 FROM dbo.RecordBarber2 WHERE PackageId = 'P-003')
    INSERT INTO dbo.RecordBarber2 (PackageId, PackageName, Price, Discount, Duration)
    VALUES ('P-003', 'Head Massage', 600.00, 20.00, '2 hours');

IF NOT EXISTS (SELECT 1 FROM dbo.RecordBarber2 WHERE PackageId = 'P-004')
    INSERT INTO dbo.RecordBarber2 (PackageId, PackageName, Price, Discount, Duration)
    VALUES ('P-004', 'Facial', 23.00, 20.00, '3 Hours 4 Minutes');
GO
